<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Catálogo de Videojuegos</h1>
        <br>
    <h2>Añadir Nuevo Videojuego</h2>
    <form action="/videojuego/nuevo" method="POST">
        <div class="form-group">
            <label for="titulo">Título:</label>
            <input type="text" class="form-control" id="titulo" name="titulo" required>
        </div>
        <div class="form-group">
            <label for="desarrollador">Desarrollador:</label>
            <input type="text" class="form-control" id="desarrollador" name="desarrollador" required>
        </div>
        <div class="form-group">
            <label for="anio_lanzamiento">Año de Lanzamiento:</label>
            <input type="number" class="form-control" id="anio_lanzamiento" name="anio_lanzamiento" required>
        </div>
        <div class="form-group">
            <label for="plataforma">Plataforma:</label>
            <input type="text" class="form-control" id="plataforma" name="plataforma" required>
        </div>
        <div class="form-group">
            <label for="clasificacion">Clasificación:</label>
            <input type="text" class="form-control" id="clasificacion" name="clasificacion" required>
        </div>
        <button type="submit" class="btn btn-primary">Añadir</button>
    </form>

        <br>
        <br>
    
        <h2>Videojuegos</h2>
        <table class="table">
            <div>
                <tr>
                    <th>Título</th>
                    <th>Desarrollador</th>
                    <th>Año lanzamiento</th>
                    <th>Plataforma</th>
                    <th>Clasificacion</th>
                
                </tr>
            </div>
            <div>
                {% for videojuego in videojuegos %}
                <tr>
                    <td>{{ videojuego.titulo }}</td>
                    <td>{{ videojuego.desarrollador }}</td>
                    <td>{{ videojuego.anio_lanzamiento}}</td>
                    <td>{{ videojuego.plataforma}}</td>
                    <td>{{ videojuego.clasificacion}}</td>
                    <td>
                
                        
                        <form action="/videojuego/eliminar/{{ videojuego.id }}" method="POST" style="display: inline-block;">
                            <button type="submit" class="btn btn-secondary">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </div>
        </table>
    </div>

    
    
</body>
</html>
